// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~@mdi/font/css/materialdesignicons.min.css";

a.v-list-item--active {
    background-color: #1976d2bd !important;
    color: #fff !important;
    border-left: thick solid rgb(241, 15, 91);
    border-radius: 0px 50px 50px 0px;
    -webkit-border-radius: 0px 50px 50px 0px;
    -moz-border-radius: 0px 50px 50px 0px;
    -ms-border-radius: 0px 50px 50px 0px;
    -o-border-radius: 0px 50px 50px 0px;
}

a.v-list-item--link:hover {
    text-decoration: none;
}
